* 라이브러리 임포트

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
plt.rcParams['font.family']='Malgun Gothic'
plt.rcParams['axes.unicode_minus']=False

# 데이터 수집
* 상가상권정보<br>
https://www.data.go.kr/data/15083033/fileData.do

## 데이터프레임 생성
* 17개 파일의 데이터를 각각 데이터프레임으로 만든 후 합친다.

### 17개의 파일을 각각 데이터프레임으로 만들기
* column에 NaN값이나 여러 type의 데이터가 섞여 있으면 DtypeWarning 발생<br>
dtype option으로 타입을 명시해주거나 low_memory = False로 지정해 주면 경고 메시지가 출력되지 않는다.

In [3]:
df1 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_강원_202109.csv')

In [4]:
df2 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_경기_202109.csv')

In [5]:
df3 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_경남_202109.csv')

In [6]:
df4 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_경북_202109.csv')

C:\Users\neulu\AppData\Local\Temp\ipykernel_21028\4086427500.py:1: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_경북_202109.csv')

In [7]:
df5 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_광주_202109.csv')

C:\Users\neulu\AppData\Local\Temp\ipykernel_21028\4146615270.py:1: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df5 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_광주_202109.csv')

In [8]:
df6 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_대구_202109.csv')

C:\Users\neulu\AppData\Local\Temp\ipykernel_21028\4272118517.py:1: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df6 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_대구_202109.csv')

In [9]:
df7 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_대전_202109.csv')

In [10]:
df8 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_부산_202109.csv')

In [11]:
df9 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_서울_202109.csv')

In [12]:
df10 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_세종_202109.csv')

In [13]:
df11 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_울산_202109.csv')

C:\Users\neulu\AppData\Local\Temp\ipykernel_21028\4118380753.py:1: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df11 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_울산_202109.csv')

In [14]:
df12 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_인천_202109.csv')

In [15]:
df13 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_전남_202109.csv')

C:\Users\neulu\AppData\Local\Temp\ipykernel_21028\3492479529.py:1: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df13 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_전남_202109.csv')

In [16]:
df14 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_전북_202109.csv')

C:\Users\neulu\AppData\Local\Temp\ipykernel_21028\1283157121.py:1: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df14 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_전북_202109.csv')

In [17]:
df15 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_제주_202109.csv')

C:\Users\neulu\AppData\Local\Temp\ipykernel_21028\2855960813.py:1: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df15 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_제주_202109.csv')

In [18]:
df16 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_충남_202109.csv')

C:\Users\neulu\AppData\Local\Temp\ipykernel_21028\3915843117.py:1: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df16 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_충남_202109.csv')

In [19]:
df17 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_충북_202109.csv')

C:\Users\neulu\AppData\Local\Temp\ipykernel_21028\2074920294.py:1: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  df17 = pd.read_csv('data/소상공인시장진흥공단_상가(상권)정보_충북_202109.csv')

### 데이터프레임 연결하기
* pd.concat(데이터프레임리스트) : 행 방향으로 연결
* pd.concat(데이터프레임리스트, axis=1) : 열 방향으로 연결
* 인덱스 재지정 : ignore_index = True

In [20]:
# 데이터프레임 합치기 : [df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17]
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17], ignore_index=True)

💡동일한 인덱스가 중복되어서 처리됨

In [21]:
len(df.columns)

39

In [22]:
# 컬럼갯수 최대 지정
pd.options.display.max_columns=39

In [23]:
df.head(1)

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,표준산업분류명,시도코드,시도명,시군구코드,시군구명,행정동코드,행정동명,법정동코드,법정동명,지번코드,대지구분코드,대지구분명,지번본번지,지번부번지,지번주소,도로명코드,도로명,건물본번지,건물부번지,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,25033300,동그라미중고타이어,NaN,D,소매,D23,자동차/자동차용품,D23A04,타이어판매,G45211,자동차 타이어 및 튜브 판매업,42,강원도,42150,강릉시,4215057100,포남1동,4.215011e+09,포남동,4215011100110960006,1,대지,1096,6.0,강원도 강릉시 포남동 1096-6,4.215032e+11,강원도 강릉시 가작로,270,NaN,4215011100110960006010791,NaN,강원도 강릉시 가작로 270,210110.0,25488.0,1,NaN,NaN,128.904472,37.770252

# 데이터 확인 및 전처리

## 데이터 크기

In [24]:
df.shape

(2245938, 39)

## 데이터프레임 정보

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2245938 entries, 0 to 2245937
Data columns (total 39 columns):
 #   Column     Dtype
---  ------     -----
 0   상가업소번호     int64
 1   상호명        object
 2   지점명        object
 3   상권업종대분류코드  object
 4   상권업종대분류명   object
 5   상권업종중분류코드  object
 6   상권업종중분류명   object
 7   상권업종소분류코드  object
 8   상권업종소분류명   object
 9   표준산업분류코드   object
 10  표준산업분류명    object
 11  시도코드       int64
 12  시도명        object
 13  시군구코드      int64
 14  시군구명       object
 15  행정동코드      int64
 16  행정동명       object
 17  법정동코드      float64
 18  법정동명       object
 19  지번코드       int64
 20  대지구분코드     int64
 21  대지구분명      object
 22  지번본번지      int64
 23  지번부번지      float64
 24  지번주소       object
 25  도로명코드      float64
 26  도로명        object
 27  건물본번지      int64
 28  건물부번지      float64
 29  건물관리번호     object
 30  건물명        object
 31  도로명주소      object
 32  구우편번호      float64
 33  신우편번호      float64
 34  동정보        object
 35  층정보        object
 36  호정보        object
 37  경도         float64
 38  위도         float64
dtypes: float64(8), int64(8), object(23)
memory usage: 668.3+ MB

## 서브셋 만들기

In [26]:
# 컬럼명 가져오기
df.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

### 필요한 컬럼만 추출하여 서브셋 만들기
* 서브셋을 만들 때는 copy()기능을 사용하는 것을 권장

In [27]:
df_store = df[['상호명','상권업종대분류명','상권업종중분류명','상권업종소분류명','시도명','시군구명','행정동명','법정동명','경도','위도']].copy()

In [28]:
df_store.head()

,상호명,상권업종대분류명,상권업종중분류명,상권업종소분류명,시도명,시군구명,행정동명,법정동명,경도,위도
0,동그라미중고타이어,소매,자동차/자동차용품,타이어판매,강원도,강릉시,포남1동,포남동,128.904472,37.770252
1,세인트존스호텔Ohcrab,숙박,호텔/콘도,호텔/콘도,강원도,강릉시,초당동,강문동,128.920908,37.791299
2,평창라마다호텔,숙박,호텔/콘도,호텔/콘도,강원도,평창군,대관령면,대관령면,128.717971,37.660051
3,호텔탑스텐스카이라운지,숙박,호텔/콘도,호텔/콘도,강원도,강릉시,옥계면,옥계면,129.052902,37.654680
4,족발야시장,음식,한식,족발/보쌈전문,강원도,강릉시,교1동,교동,128.878636,37.765339

### 서브셋 데이터 확인

In [29]:
# 데이터 크기
df_store.shape

(2245938, 10)

In [30]:
# 데이터 정보(메모리 용량이 줄어듦)
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2245938 entries, 0 to 2245937
Data columns (total 10 columns):
 #   Column    Dtype
---  ------    -----
 0   상호명       object
 1   상권업종대분류명  object
 2   상권업종중분류명  object
 3   상권업종소분류명  object
 4   시도명       object
 5   시군구명      object
 6   행정동명      object
 7   법정동명      object
 8   경도        float64
 9   위도        float64
dtypes: float64(2), object(8)
memory usage: 171.4+ MB

### 결측치분석/처리

In [31]:
df_store.isnull().sum()

상호명             2
상권업종대분류명        0
상권업종중분류명        0
상권업종소분류명        0
시도명             0
시군구명            0
행정동명        11839
법정동명         1453
경도              0
위도              0
dtype: int64

💡별도의 결측치 처리X

## 상권업종분류

In [32]:
print(df_store['상권업종대분류명'].unique())
print(df_store['상권업종대분류명'].nunique())

['소매' '숙박' '음식' '학문/교육' '생활서비스' '부동산' '관광/여가/오락' '스포츠']
8

In [33]:
df_store['상권업종중분류명'].nunique()

89

In [34]:
df_store['상권업종소분류명'].nunique()

716

### 상권업종분류표

In [35]:
df_store_class = df_store[['상권업종대분류명','상권업종중분류명','상권업종소분류명']].drop_duplicates().sort_values(['상권업종대분류명','상권업종중분류명','상권업종소분류명'])

In [36]:
# 상권업종 분류표 모두보기(최대 행 수 지정)
pd.options.display.max_rows=20
df_store_class

        상권업종대분류명      상권업종중분류명 상권업종소분류명
8094    관광/여가/오락  PC/오락/당구/볼링등       기원
2885    관광/여가/오락  PC/오락/당구/볼링등      당구장
4683    관광/여가/오락  PC/오락/당구/볼링등      볼링장
44597   관광/여가/오락  PC/오락/당구/볼링등   비디오감상실
53746   관광/여가/오락  PC/오락/당구/볼링등   오락용사격장
...          ...           ...      ...
140419     학문/교육          학원기타    학원-모델
101249     학문/교육          학원기타  학원-실내운전
11474      학문/교육          학원기타  학원-심리변론
162249     학문/교육          학원기타    학원-역학
115129     학문/교육          학원기타    학원-침술

[716 rows x 3 columns]